.popup {
  max-width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  z-index: 10;
  display: none;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--clr-dark);
}

.popup__container {
  width: min(430px, 100% - 38px);
  margin: auto;
  position: relative;
}

.popup__close {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.8;
}

.popup_opened {
  display: flex;
}

.popup_opened .popup__container {
  scale: 1;
  opacity: 1;
  transition: scale 0.35s ease, opacity 0.35s ease;
}

@media (max-width: 620px) {
  .popup__close {
    top: -50px;
    right: 0;
  }
}
